@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Roboto&display=swap&subset=latin-ext');

body {
    background-color: #EBEBEB;
}

#grid {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#button {
    background: transparent;
    padding: 1%;
    font-size: 100%;
    font-family: 'Roboto';
    border: none;
    transition: 2s;
    cursor: pointer;
    color: darkgray;
  }

#button:hover {
    text-decoration: underline;
    transition: 2s;
    cursor: pointer;
    opacity: 1 !important;
  }

  #quotext {
      font-size: 200%;
      font-family: 'Petit Formal Script';
  }
  #hovering-image {
      display: inline-block;
  }

  #information {
      font-family: 'Roboto';
      display: none;
      font-size: 85%;
      color: darkgray;
  }

  #hovering-image img:hover + #information {
      display: inline;
  }