@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: #0c0c0c;
    color: #FFF;
}

#title {
    font-family: 'Merriweather', serif;
    font-size: 130%;
    font-weight: bold;
}

#artist, #genres, #year {
    font-family: 'IBM Plex Mono', monospace;
}

#artist, #year {
    font-size: 95%;
}

#genres {
    font-size: 75%;
    color: rgba(255,255,255,.8);
}

#content {
    width: 512px;
}

#links {
    top: 0px !important;
    left: 0px !important;
    margin-left: 20px;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,.8);
    font-family: 'IBM Plex Mono', monospace;
    transition: 1s;
}

a:hover {
    color: rgba(255,255,255,1);
    transition: 1s;
}

#btn {
    margin-top: 50px;
    margin-bottom: 100px;
    background: none;
    border: 0px !important;
    font-family: 'IBM Plex Mono', monospace;
    transition: 1s;
    font-size: 110%;
    color: rgba(255,255,255,.8);
}

#btn:hover {
    color: #FFF;
    transition: 1s;
    cursor: pointer;
}

#buttons {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

div#buttons:hover {
    opacity: 1;
    transition: 1s;
}

div#buttons {
    opacity: .8;
    transition: 1s;
}