@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;700&family=Staatliches&display=swap');

body {
    font-family: 'Changa';
    background: url(img/bg.jpeg) center fixed no-repeat;
    background-size: cover;
    margin: 0;
}

#nav ul {
    list-style-type: none !important;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    justify-items: left;
    grid-column-gap: 0;
}

#list-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    margin-right: 10px !important;
}

.item {
    border: none;
    width: 200px;
    font-size: 90%;
    box-shadow: 1px 1px 15px #000;
}

.image img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.title {
    padding: 1%;
    font-family: 'Unica One';
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
}

.completed {
    background-color: #3d85c6;
}

.watching {
    background-color: #77b773;
}

.on-hold {
    background-color: #ffd966;
}

.dropped {
    background-color: #d75050;
}

.plan-to-watch {
    background-color: #bcbcbc;
}

.studio,
.ep-number,
.score,
.type {
    background-color: #EBEBEB;
}

.studio,
.ep-number,
.type {
    border-bottom: 1px dotted #000;
}

.score {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subtitle {
    font-size: 70%;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#watching {
    color:#77b773;
}

#completed {
    color: #3d85c6;
}

#on-hold {
    color: #ffd966;
}

#dropped {
    color: #d75050;
}

#plan-to-watch {
    color: #bcbcbc;
}

#cosmic {
    color: #ca6ba3;
}